# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Backend/node_modules
Frontend/node_modules

# testing
Backend/coverage
Frontend/coverage

# production
Backend/build
Frontend/build

# misc
Backend.DS_Store
Backend.env.local
Backend.env.development.local
Backend.env.test.local
Backend.env.production.local
Frontend.DS_Store
Frontend.env.local
Frontend.env.development.local
Frontend.env.test.local
Frontend.env.production.local

Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
